@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <img src="~/Content/Images/ICUC Logoo copynn.png" class=" img-responsive center-block" />
    </div>
</div>

<div class="row">
    <div class="col-md-6 margin-top-20"><a href="#" class="btn btn-primary btn-large btn-block"><span class="glyphicon glyphicon-lock"></span> Login</a></div>
    <div class="col-md-6 margin-top-20"><a href="#" class="btn btn-primary btn-large btn-block"><span class="glyphicon glyphicon-registration-mark"></span> Register</a></div>
</div>
    
